body {
    background-color: antiquewhite;
}

.place-holder-input::placeholder {
    font-size: 9px;
}

.error-message {
    background-color: #fee;
    color: #c00;
    padding: 10px;
    border: 1px solid #c00;
    border-radius: 4px;
    margin-bottom: 10px;
    white-space: pre-line; /* Preserves line breaks from \n */
}